.algo{
    color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fol{
    color: blueviolet;
    font-size: xx-large;
    font-size: 50px;
}
.página{
    color: deepskyblue;
    font-family: cursive;
    font-size: 50px;
}
.raton{
    border: 20px solid rgb(0, 0, 0) ;
}