/* Estilo global */
body{
    /*background-color: rgb(63, 63, 63); por si no carga la img*/
    background-image: url(img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    font-size: 25px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo para el h1 */
h1{
    text-align: center;
    font-size: 60px;
    color: white;
    /*background-color: rgb(35, 61, 148);*/ 
    background-image: url(img/fondoh1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid  rgb(0, 0, 0);
    text-decoration: underline;
    padding: 80px;
    border-radius: 8px;
 
}


/* Estilo para el párrafo */
p {
    text-align: center;
    background-color: rgb(89, 110, 110);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid;
    border-radius: 8px;
}

#flechita{
    width: 30px;
    height: 30px;
    background-repeat:repeat;

}

/* Estilo para el enlace de Damian */
a {
    text-decoration: none;
    color: white; /* Añadido para que el enlace sea visible sobre el fondo gris */
}
a:hover{/*Efecto sobre mouse*/
    background-color: rgb(48, 45, 41);
    color: aqua;
}

/* Estilo básico para los divs de otros programadores */
.perfil {
    background-color: lightgray; 
    padding: 20px; /* Espacio interno para que el contenido no esté pegado a los bordes */
    margin: 10px; /* Espacio externo para separarlo de otros elementos */
    border: 2px solid black; /* Borde simple para destacar */
    text-align: center; /* Centra el enlace dentro del div */
    border-radius: 8px;
}
